<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.cdh.bebetter">

    <uses-permission android:name="android.permission.VIBRATE" />

    <permission android:name="android.permission.WRITE_SETTINGS" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- 网络请求权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" /> <!-- 网络权限 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 相机权限 -->
    <uses-permission android:name="android.permission.CAMERA" /> <!-- 读写文件权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/app_icon_round"
        android:supportsRtl="true"
        android:theme="@style/NoTitle"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".activity.RegisterActivity"
            android:exported="false" />

        <service
            android:name=".service.LocationService"
            android:enabled="true"
            android:exported="true" />

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="498c27aa54e5d1c7b616f4c09b64dd7e" />

        <activity
            android:name=".activity.SortEditActivity"
            android:exported="false" />
        <activity
            android:name=".activity.MemoEditActivity"
            android:exported="false"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name=".activity.MainActivity"
            android:exported="true"
            android:label="@string/title_activity_main"
            android:theme="@style/Theme.BeBetter.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.LoginActivity"
            android:exported="false"></activity>

        <service android:name="com.amap.api.location.APSService" />

        <receiver
            android:name=".provider.WidgetProvider"
            android:exported="true">
            <intent-filter>

                <!-- 这个必须声明 -->
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <!-- 这个和SimpleWidgetProvider中的CLICK_ACTION对应 -->
                <action android:name="com.barry.widgetapp.CLICK" />
            </intent-filter>
            <!-- 指定AppWidgetProviderInfo资源XML文件 -->
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/app_widget" />
        </receiver>

        <service
            android:name=".provider.MyRemoteViewsService"
            android:exported="false"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <receiver
            android:name=".provider.MyAlarmReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.cdh.bebetter.alarm" />
            </intent-filter>
        </receiver>
    </application>

</manifest>